.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}
.fixed-action-btn.active ul {
    visibility: visible;
}
.fixed-action-btn.direction-left, .fixed-action-btn.direction-right {
    padding: 0 0 0 15px;
}
.fixed-action-btn.direction-left ul, .fixed-action-btn.direction-right ul {
    text-align: right;
    right: 64px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    left: auto;
    width: 500px;
}
.fixed-action-btn.direction-left ul li, .fixed-action-btn.direction-right ul li {
    display: inline-block;
    margin: 7.5px 15px 0 0;
}
.fixed-action-btn.direction-right {
    padding: 0 15px 0 0;
}
.fixed-action-btn.direction-right ul {
    text-align: left;
    direction: rtl;
    left: 64px;
    right: auto;
}
.fixed-action-btn.direction-right ul li {
    margin: 7.5px 0 0 15px;
}
.fixed-action-btn.direction-bottom {
    padding: 0 0 15px 0;
}
.fixed-action-btn.direction-bottom ul {
    top: 64px;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.fixed-action-btn.direction-bottom ul li {
    margin: 15px 0 0 0;
}
.fixed-action-btn.toolbar {
    padding: 0;
    height: 56px;
}
.fixed-action-btn.toolbar.active>a i {
    opacity: 0;
}
.fixed-action-btn.toolbar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.fixed-action-btn.toolbar ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    margin: 0;
    height: 100%;
    -webkit-transition: none;
    transition: none;
}
.fixed-action-btn.toolbar ul li a {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    line-height: 56px;
    z-index: 1;
}
.fixed-action-btn.toolbar ul li a i {
    line-height: inherit;
}
.fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;
}
.fixed-action-btn ul li {
    margin-bottom: 15px;
}
.fixed-action-btn ul a.btn-floating {
    opacity: 0;
}
.fixed-action-btn .fab-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 40px;
    height: 40px;
    background-color: #26a69a;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
}

/*** .btn-floating ***/
.z-depth-1, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}


nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
}
nav ul a.btn>.material-icons, nav ul a.btn-large>.material-icons, nav ul a.btn-small>.material-icons, nav ul a.btn-large>.material-icons, nav ul a.btn-flat>.material-icons, nav ul a.btn-floating>.material-icons {
    height: inherit;
    line-height: inherit;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #ffd8a6;
}
.btn.disabled, .disabled.btn-large, .disabled.btn-small, .btn-floating.disabled, .btn-large.disabled, .btn-small.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-small:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-small:disabled, .btn-flat:disabled, .btn[disabled], .btn-large[disabled], .btn-small[disabled], .btn-floating[disabled], .btn-large[disabled], .btn-small[disabled], .btn-flat[disabled] {
    pointer-events: none;
    background-color: #DFDFDF !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default;
}
.btn.disabled:hover, .disabled.btn-large:hover, .disabled.btn-small:hover, .btn-floating.disabled:hover, .btn-large.disabled:hover, .btn-small.disabled:hover, .btn-flat.disabled:hover, .btn:disabled:hover, .btn-large:disabled:hover, .btn-small:disabled:hover, .btn-floating:disabled:hover, .btn-large:disabled:hover, .btn-small:disabled:hover, .btn-flat:disabled:hover, .btn[disabled]:hover, .btn-large[disabled]:hover, .btn-small[disabled]:hover, .btn-floating[disabled]:hover, .btn-large[disabled]:hover, .btn-small[disabled]:hover, .btn-flat[disabled]:hover {
    background-color: #DFDFDF !important;
    color: #9F9F9F !important;
}.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
    font-size: 14px;
    outline: 0;
}
.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {
    font-size: 1.3rem;
    line-height: inherit;
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #1d7d74;
}
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #2bbbad;
}
.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
}
.btn-floating:hover {
    background-color: #26a69a;
}
.btn-floating:before {
    border-radius: 0;
}
.btn-floating.btn-large {
    width: 56px;
    height: 56px;
    padding: 0;
}
.btn-floating.btn-large.halfway-fab {
    bottom: -28px;
}
.btn-floating.btn-large i {
    line-height: 56px;
}
.btn-floating.btn-small {
    width: 32.4px;
    height: 32.4px;
}
.btn-floating.btn-small.halfway-fab {
    bottom: -16.2px;
}
.btn-floating.btn-small i {
    line-height: 32.4px;
}
.btn-floating.halfway-fab {
    position: absolute;
    right: 24px;
    bottom: -20px;
}
.btn-floating.halfway-fab.left {
    right: auto;
    left: 24px;
}
.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
}
button.btn-floating {
    border: none;
}


/*** .fixed-action-btn ***/
.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}
.fixed-action-btn.active ul {
    visibility: visible;
}
.fixed-action-btn.direction-left, .fixed-action-btn.direction-right {
    padding: 0 0 0 15px;
}
.fixed-action-btn.direction-left ul, .fixed-action-btn.direction-right ul {
    text-align: right;
    right: 64px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    left: auto;
    width: 500px;
}
.fixed-action-btn.direction-left ul li, .fixed-action-btn.direction-right ul li {
    display: inline-block;
    margin: 7.5px 15px 0 0;
}
.fixed-action-btn.direction-right {
    padding: 0 15px 0 0;
}
.fixed-action-btn.direction-right ul {
    text-align: left;
    direction: rtl;
    left: 64px;
    right: auto;
}
.fixed-action-btn.direction-right ul li {
    margin: 7.5px 0 0 15px;
}
.fixed-action-btn.direction-bottom {
    padding: 0 0 15px 0;
}
.fixed-action-btn.direction-bottom ul {
    top: 64px;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.fixed-action-btn.direction-bottom ul li {
    margin: 15px 0 0 0;
}
.fixed-action-btn.toolbar {
    padding: 0;
    height: 56px;
}
.fixed-action-btn.toolbar.active>a i {
    opacity: 0;
}
.fixed-action-btn.toolbar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.fixed-action-btn.toolbar ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    margin: 0;
    height: 100%;
    -webkit-transition: none;
    transition: none;
}
.fixed-action-btn.toolbar ul li a {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    line-height: 56px;
    z-index: 1;
}
.fixed-action-btn.toolbar ul li a i {
    line-height: inherit;
}
.fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;
}
.fixed-action-btn ul li {
    margin-bottom: 15px;
}
.fixed-action-btn ul a.btn-floating {
    opacity: 0;
}
.fixed-action-btn .fab-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 40px;
    height: 40px;
    background-color: #26a69a;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
}


/***  ***/
.fixed-action-btn ul a.btn-floating {
    opacity: 0;
}


/*** .btn-floating ***/
.sidenav li>a.btn, .sidenav li>a.btn-large, .sidenav li>a.btn-small, .sidenav li>a.btn-large, .sidenav li>a.btn-flat, .sidenav li>a.btn-floating {
    margin: 10px 15px;
}
.sidenav li>a.btn, .sidenav li>a.btn-large, .sidenav li>a.btn-small, .sidenav li>a.btn-large, .sidenav li>a.btn-floating {
    color: #fff;
}
.sidenav li>a.btn-floating:hover {
    background-color: #26a69a;
}
.fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}