{% extends "skeleton.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
                <form id="form_{{ form.prefix }}" name="form_{{ form.prefix }}" autocomplete="off" enctype='multipart/form-data'>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% crispy form %}
                            </div>
                        </div>
                    </div>
                </form>
        </div>

    </div>

{% endblock %}
