{% load static i18n%}

<!--<!DOCTYPE html>-->
<html lang="en">
{% block head %}
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    <!-- Favicon icon -->
{#    <title>Export-Import Bank of Thailand</title>#}


    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'themes/images/apps/title.png'%}">
    <!-- Main CSS -->
    {% block maincss %} {% include 'lib/_styles.html' %}{% endblock %}
    <!-- stylesheet custom -->
    {% block stylesheet %}{% endblock %}

    {% block mainjs %}{% include 'lib/_scripts.html' %}{% endblock %}


    <!-- custom javascript -->
    {% block javascript %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

<![endif]-->
    <!-- Custom js -->
    <script type="text/javascript" src="{% static 'themes/js/custom-script.js'%}"></script>
</head>
{% endblock %}

{% block body %}
<body class="skin-default fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Export-Import Bank of Thailand</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% block tobbar %}
         <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" {% if not expire %}href="{% url 'start' %}"{% endif %}>
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{% static 'themes/images/apps/banner-logo.png'%}" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="{% static 'themes/images/apps/banner-logo.png'%}" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                             <!-- dark Logo text -->
{#                             <!--<img src="{% static 'assets/images/logo-text.png'%}" alt="homepage" class="dark-logo" />-->#}
                             <label alt="homepage" class="dark-logo"><h2>e-NCB</h2></label>

                             <!-- Light Logo text -->
{#                             <!--<img src="{% static 'assets/images/logo-light-text.png'%}" class="light-logo" alt="homepage" /></span>-->#}
{#                             <img src="{% static 'assets/images/logo-light-text.png'%}" class="light-logo" alt="homepage" />#}
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->

                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">

{#                        <li class="nav-item dropdown u-pro">#}
{#                            <a class="nav-link waves-effect waves-dark" href="{% url 'logout' %}" data-toggle="tooltip" data-placement="bottom" title="Log out" aria-haspopup="true" aria-expanded="false"><span class="hidden-md-down"><i class="fa fa-power-off"></i></span> </a>#}
{#                        </li>#}
                    </ul>
                    <!-- ============================================================== -->
                        <!-- End User Profile -->
                    <!-- ============================================================== -->

                </div>
            </nav>
        </header>
         {% endblock %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% block left-sidebar %}
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        {% endblock %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        {% block page-wrapper %}
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            {% block container %}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                {% block content %}{% endblock %}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                {% block right-sidebar %}
                <div class="right-sidebar">
                    <div class="slimscrollright">
                    </div>
                </div>
                {% endblock %}
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            {% endblock %}
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        {% endblock %}
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        {% block footer %}
        <footer class="footer">
            © 2018 bigSpace by IWIT.
        </footer>
        {% endblock %}
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <!-- custom body javascript-->
    {% block bodyjavascript %} {% endblock %}
<script language="javascript">

</script>
</body>
{% endblock %}
</html>